<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" th:field="*{login}" />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <label>Номер телефона:</label>
        <input type="text" th:field="*{phoneNumber}" />
    </div>
    <div>
        <label>Полное имя:</label>
        <input type="text" th:field="*{fullName}" />
    </div>
    <div>
        <label>Уровень:</label>
        <input type="number" th:field="*{level}" />
    </div>
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>
